@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Rubik', sans-serif;
}


button:focus{
    outline: none
}

.main-scrollbar::-webkit-scrollbar {
    width: 8px;
    background: #f3f4f6;
    border-radius: 5px;
}

.main-scrollbar::-webkit-scrollbar-thumb {
    width: 8px;
    background: #9ca3af;
    border-radius: 5px;
}

body::-webkit-scrollbar{
    width: 8px;
    background: #f3f4f6;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
    margin-top: 56px;
    width: 8px;
    background: #9ca3af;
}

#hubspot-messages-iframe-container{
    z-index: 100 !important;
}